
:root{
    --main-bg-color: #0F044C;
    --transparent-main--bg-color: #0f044cc7;
    --secondary-color: #141E61;
    --transparent-secondary-color: #141e61cf;
    --main-header-color: #787A91;
    --text-color: #EEEEEE; 
    /* dunno how organize use what colors for what... reorganize if want 
       or we can wait, but...
       
       also might need switch to rgba to get transparent values...? unsure

       WOULD BE HAPPY FOR U TO FIGURE THIS OUT SO I DONT HAVE TO :D
       like... idk how many colors need and how organize them :/
    */

    --font: ;
    /* are we using more than one font...? */
}
html,
body,
div {
  /* did this cus whitespace at top of page... i dunno if will cause issues later */
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
}

#title {
  color: var(--main-header-color);
  font-size: 10vh;
  position: absolute;
  top: 65%;
  right: 42%; 
}

#titleArea{
  background-color: var(--transparent-main--bg-color);
}

.inactive{
  animation-name: fadeOut;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.active{
  animation-name: fadeIn;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

.off{
  visibility: hidden;
}

.bgImg{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -3;
}

.centered{
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center;
}

#navBarDiv{
  position: absolute;
  bottom: 0;
  height: initial;
}

ul{
  list-style-type: none;
  color: var(--text-color);
  height: 5%;
}

li{
  float: left;
  padding: 20px;
}

fa-brands{
  float: right;
}

@keyframes fadeOut{
  from{
    opacity: 1
  }
  to{
    opacity: 0;
  }

}

@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }

}
