<div class="footer-hori-bar">
    <div class="footer-ext-link">
        <a href="mailto:bcjca@gmail.com" aria-label="Email address" target="_blank">
            <i class="fa-regular fa-envelope coloritnice"></i>
        </a>
        <a href="https://www.instagram.com/bcjrchess/" aria-label="Instagram" target="_blank">
            <i class="fa-brands fa-instagram coloritnice"></i>
        </a>
        <a href="https://github.com/Ralenze/bcjca" aria-label="GitHub" target="_blank">
            <i class="fa-brands fa-github coloritnice"></i>
        </a>
        <a href="https://discord.gg/QRjbTbdbJx" aria-label="Discord" target="_blank">
            <i class="fa-brands fa-discord coloritnice"></i>
        </a>
    </div>
    <p> Copyright © 2023</p>
</div>
