<div class="footer-hori-bar">
    <div class="footer-ext-link">
        <a href="mailto:bcjca@gmail.com">
            <i class="fa-regular fa-envelope coloritnice"></i>
        </a>
        <a href="https://www.instagram.com/bcjrchess/" target="_blank">
            <i class="fa-brands fa-instagram coloritnice"></i>
        </a>
        <a href="https://github.com/Ralenze/bcjca" target="_blank">
            <i class="fa-brands fa-github coloritnice"></i>
        </a>
        <a href="https://discord.gg/QRjbTbdbJx" target="_blank">
            <i class="fa-brands fa-discord coloritnice"></i>
        </a>
    </div>
    <p> Copyright © 2022 </p>
</div>