<!-- REMEMBER THAT <SCRIPT> WON'T BE EVALUATED HERE -->
<!-- <meta> -->
<meta charset="UTF-8">
<meta name="author" content="British Columbia Junior Chess Association">
<meta name="robots" content="index, follow">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="favicon.ico" type="image/x-icon">
<!-- </meta> -->
<!-- <link> -->
<link rel="stylesheet" href="styles/fonts.css">
<link rel="stylesheet" href="styles/style.css">
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<link
    rel="preload"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
>
<!-- </link> -->
