<!-- REMEMBER THAT <SCRIPT> WON'T BE EVALUATE HERE -->
<meta charset="UTF-8">
<meta name="description" content="The British Columbia Junior Chess Association is a chess organization directed towards bringing together secondary school students to play chess. Through tournaments, events, and play, its main goal is to not only play chess together, but to create life long connections among British Columbia's youth and share our passion and love for the game. Whether you're a beginner or an experienced player, the BCJCA is the place for you.">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title> BCJCA </title>

<link rel="stylesheet" href="styles/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">