<a href="/">
    <img
        width="120"
        height="120"
        id="logo"
        src="images/bcjcalight.webp"
        alt="BCJCA logo, which is the outline of a knight chess piece on top of the Canadian flag"
    >
</a>
<!-- <i class="fa-regular fa-lightbulb" id="light" onclick="toggleLightMode()"></i> -->
<!-- text in logo not seen, need a border or something -->
<div class="nav-links" id="menu">
    <ul>
        <li>
            <a href="index.html">HOME</a>
        </li>
        <li>
            <a href="about.html">ABOUT</a>
        </li>
        <li>
            <a href="events.html">EVENTS</a>
        </li>
        <li>
            <a href="join.html">JOIN US!</a>
        </li>
    </ul>
</div>
<i
    id="menubtn"
    class="fa fa-bars"
    onclick="showBtn()"
    aria-hidden="true"
></i>
