:root {
    --autotest: rgba(27, 16, 146, 0.8);
}

/* Control class */
.hide {
    display: none;
}

/* Elements */
a {
    text-decoration: none;
    color: white;
}

/* Page layout */
header {
    background-image: none;
    /*linear-gradient(90deg, rgba(7, 0, 28, 1) 0%, rgba(20, 10, 60, 1) 50%, rgba(51, 25, 89, 1) 100%); */
    /* background-attachment: fixed; */
}

header h2 {
    padding: 24px;
    padding-bottom: 0.25em;
    margin: 0 15%;
    font-size: 40px;
    text-indent: 4%;
    color: rgb(255, 136, 0);
}

header p {
    padding: 1em;
    padding-top: 0;
    margin: 0 15%;
    font-size: 22px;
    text-indent: 4%;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, hsl(254, 88%, 75%) 0%, hsl(252, 68%, 75%) 50%, hsl(278, 58%, 75%) 100%);
    /* background: linear-gradient(90deg, hsl(254, 100%, 79%) 0%, hsl(252, 96%, 78%) 50%, hsl(278, 100%, 79%) 100%); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

/* Page classes */
.clubtitle {
    position: relative;
    width: 50%;
    left: 35%;
    color: white;
    font-size: 55px;
    z-index: 2;
}

.aboutslider {
    position: relative;
    opacity: 0;
    left: -100px;
    color: rgb(255, 136, 0);
    /* -webkit-animation-name: slidingin;
    -webkit-animation-duration: 8s; */
    animation-name: slidingin;
    animation-duration: 6s;
    z-index: 1;
}

.clubtitleseparator {
    height: 8px;
    position: relative;
    width: 70%;
    left: 15%;
    background: linear-gradient(90deg, hsla(254, 88%, 7%, 0.8) 0%, hsla(252, 88%, 10%, 0.8) 50%, hsla(278, 88%, 10%, 0.8) 100%);
    /* background: linear-gradient(90deg, rgba(13, 3, 44, 0.8) 0%, rgba(20, 11, 58, 0.8) 50%, rgba(50, 18, 68, 0.8) 100%); */
    border-radius: 30%;
}


.clubcardtitle {
    /* --heighttotal: 650vh; */
    /* height: var(--heighttotal); */
    /* width: 100%; */
    /* background: linear-gradient(180deg, var(--autotest), rgb(55, 19, 103)); */
    padding-top: 0;
    padding-bottom: calc(1em + 50px);
    min-height: calc(100vh - 50px);
}

.clubcardtitle h1 {
    text-align: center;
    position: relative;
    padding-top: 20px;
    font-size: 100px;
    color: rgb(57, 157, 203);
    padding-bottom: 0.5em;
}

.clubcardtitle h2 {
    text-align: center;
    position: relative;
    padding-top: 45px;
    font-size: 100px;
    color: rgb(57, 157, 203);
    padding-bottom: 0.5em;
}

.clubcardholder {
    display: flex;
    flex-direction: column;
    height: 80%;
    /* width: 100%; */
    max-width: 90%;
    margin: 0 auto;
}

/* 
#container {
    max-width: 90%;
    margin: 0 auto;
} */

.clubcardrow {
    position: relative;
    margin-top: 5%;
    height: 75vh;
    /* we want height to equal to 90vh or whatever */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transition: 0.7s;
    opacity: 0;
    left: -20%;
}

.clubcard {
    position: relative;
    margin: 0% 5%;
    width: 32%;
    height: 100%;
    top: 0;
    border-radius: 18%;
    border: 3px solid black;
    overflow: hidden;
    transition: 0.2s all ease-in-out;
}

.clubcard:hover {
    transform: scale(1.05);
    box-shadow: 0px 2px 40px #101213;
}

.clubcard:hover>.info {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.6);
    /* set target background color */
}

.clubcard:hover>.clubcardtop {
    -webkit-filter: blur(4px);
    filter: blur(4px);
}


.clubcardtop {
    /* height: 60vh; */
    /* background: linear-gradient(60deg, rgb(243, 148, 203), rgb(238, 13, 204)); */
    justify-content: center;
    overflow: hidden;
}

.clubcardtop img {
    background-position: center center;
    /* height: 100%;
    width: 100%; */
}

/* .clubleader {
    position: relative;
    height: 325px;
    width: 325px;
    left: calc(50% - 162.5px);
    top: calc(50% - 162.5px);
    border-radius: 100%;
    background-color: rgb(84, 84, 236);
    overflow: hidden;
} */

.info {
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
    /* set initial background color */
    transition: opacity 0.1s ease-in-out, background-color 0.2s ease-in-out;
    /* apply transition effect to opacity and background-color properties */
}

.info h1 {
    font-size: 30px;
    padding: 0.5em 0.5em;
}

.info h2 {
    font-size: 30px;
    padding: 0.5em 0.5em;
}

.info p {
    text-align: center;
    font-size: 16px;
    color: white;
    padding: 0 0.5em;
}

.clubleader img {
    background-position: center center;
    height: 325px;
    width: 325px;
}

.clubleader.override {
    overflow: visible;
}

.clubleader.override img {
    background-position: center center;
    height: 500px;
    width: 500px;
}

.clubcardbottom {
    z-index: 1;
    height: 20%;
    background-color: rgb(49, 22, 150);
    justify-content: center;
    top: -40px !important;
    position: relative;
}

.clubcardbottom h1 {
    position: relative;
    text-align: center;
    font-size: 30px;
    bottom: 25%;
    color: rgb(27, 167, 167);
    top: -45px !important;
}

.clubcardbottom h2 {
    position: relative;
    text-align: center;
    font-size: 30px;
    bottom: 25%;
    color: rgb(27, 167, 167);
    top: -45px !important;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    gap: 2em 0;
}

.grid-item {
    background-color: #ccc;
    width: 200px;
    height: 200px;
    transform: translateY(100px);
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.big {
    width: 400px;
    height: 400px;
}

.animate-grid {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.animate-grid.active {
    opacity: 1;
}

/* Responsive design */
@media screen and (max-width: 600px) {
    header p {
        font-size: 16px;
        margin: 0 1em;
    }

    .clubcardtitle h1 {
        text-align: center;
        position: relative;
        padding-top: 45px;
        font-size: 60px;
        color: rgb(57, 157, 203);
        padding-bottom: 0.5em;
    }
}


/* Animation */
@keyframes slidingin {
    8% {
        opacity: 0
    }

    16% {
        opacity: 1;
        left: 0px;
    }

    84% {
        opacity: 1;
        left: 0px;
    }

    92% {
        opacity: 0
    }

    100% {
        opacity: 0;
        left: -100px;
    }
}

/* .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    gap: 8em 16em;
}

.grid-item {
    background-color: #ccc;
    width: 400px;
    height: 400px;
}

.animate-grid {
    opacity: 0;
    transition: opacity 1s ease-out;
} */