:root {
    --number-of-club-images: 15;
}

/* Control class */
.hide {
    display: none;
}

/* Elements */
a {
    text-decoration: none;
    color: white;
}

/* Page layout */
header {
    background-image: none;
    min-height: 100px;
}

header h2 {
    padding: 24px;
    padding-bottom: 0.25em;
    margin: 0 15%;
    font-size: 40px;
    text-indent: 4%;
    color: rgb(255, 136, 0);
}

header p {
    padding: 1em;
    padding-top: 0;
    margin: 0 15%;
    font-size: 22px;
    text-indent: 4%;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, hsl(254, 88%, 75%) 0%, hsl(252, 68%, 75%) 50%, hsl(278, 58%, 75%) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

/* Page classes */
.clubtitle {
    position: relative;
    width: 50%;
    left: 35%;
    color: white;
    font-size: 55px;
    z-index: 2;
}

.aboutslider {
    position: relative;
    opacity: 0;
    left: -100px;
    color: rgb(255, 136, 0);
    -webkit-animation-name: slidingin;
    -webkit-animation-duration: 6s;
    animation-name: slidingin;
    animation-duration: 6s;
    z-index: 1;
}

.clubtitleseparator {
    height: 8px;
    position: relative;
    width: 70%;
    left: 15%;
    background: linear-gradient(90deg, hsla(254, 88%, 7%, 0.8) 0%, hsla(252, 88%, 10%, 0.8) 50%, hsla(278, 88%, 10%, 0.8) 100%);
    border-radius: 30%;
}


.clubcardtitle {
    padding-top: 0;
    padding-bottom: calc(1em + 50px);
    /* min-height: calc(100vh - 50px); */
}

.clubcardtitle h1 {
    text-align: center;
    position: relative;
    padding-top: 20px;
    font-size: 70px;
    color: rgb(57, 157, 203);
    padding-bottom: 0;
}

.clubcardtitle h2 {
    text-align: center;
    position: relative;
    padding-top: 45px;
    font-size: 100px;
    color: rgb(57, 157, 203);
    padding-bottom: 0.5em;
}

.clubcardholder {
    display: flex;
    flex-direction: column;
    height: 80%;
    max-width: 90%;
    margin: 0 auto;
}

.clubcardrow {
    position: relative;
    margin-top: 5%;
    height: 75vh;
    /* we want height to equal to 90vh or whatever */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transition: 0.7s;
    opacity: 0;
    left: -20%;
}

.clubcard {
    position: relative;
    margin: 0% 5%;
    width: 32%;
    height: 100%;
    top: 0;
    border-radius: 18%;
    border: 3px solid black;
    overflow: hidden;
    transition: 0.2s all ease-in-out;
}

.clubcard:hover {
    transform: scale(1.05);
    box-shadow: 0px 2px 40px #101213;
}

.clubcard:hover>.info {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.6);
    /* set target background color */
}

.clubcard:hover>.clubcardtop {
    -webkit-filter: blur(4px);
    filter: blur(4px);
}


.clubcardtop {
    justify-content: center;
    overflow: hidden;
}

.clubcardtop img {
    background-position: center center;
}

.info {
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
    /* set initial background color */
    transition: opacity 0.1s ease-in-out, background-color 0.2s ease-in-out;
    /* apply transition effect to opacity and background-color properties */
}

.info h1 {
    font-size: 30px;
    padding: 0.5em 0.5em;
}

.info h2 {
    font-size: 30px;
    padding: 0.5em 0.5em;
}

.info p {
    text-align: center;
    font-size: 16px;
    color: white;
    padding: 0 0.5em;
}

.clubleader img {
    background-position: center center;
    height: 325px;
    width: 325px;
}

.clubleader.override {
    overflow: visible;
}

.clubleader.override img {
    background-position: center center;
    height: 500px;
    width: 500px;
}

.clubcardbottom {
    z-index: 1;
    height: 20%;
    background-color: rgb(49, 22, 150);
    justify-content: center;
    top: -40px !important;
    position: relative;
}

.clubcardbottom h1 {
    position: relative;
    text-align: center;
    font-size: 30px;
    bottom: 25%;
    color: rgb(27, 167, 167);
    top: -45px !important;
}

.clubcardbottom h2 {
    position: relative;
    text-align: center;
    font-size: 30px;
    bottom: 25%;
    color: rgb(27, 167, 167);
    top: -45px !important;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    gap: 2em 0;
}

.grid-item {
    background-color: #ccc;
    width: 200px;
    height: 200px;
    transform: translateY(100px);
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.big {
    width: 400px;
    height: 400px;
}

.animate-grid {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.animate-grid.active {
    opacity: 1;
}










#photocontainer {
    height: calc(200px + 3 * 8px);
    position: relative;
    overflow: hidden;
}

#photocontainer::before,
#photocontainer::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 20vw;
    /* Adjust the width of the fade */
    pointer-events: none;
}

#photocontainer::before {
    left: 0;
    background: linear-gradient(to right, rgba(9, 2, 32, 1), rgba(9, 2, 32, 0));
    z-index: 1;
    /* Add z-index to position it above the images */
}

#photocontainer::after {
    right: 0;
    background: linear-gradient(to left, rgba(55, 20, 75, 1), rgba(55, 20, 75, 0));
}

#photocontainer:hover .photobanner {
    animation-play-state: paused;
}

.photobanner {
    position: absolute;
    top: 0;
    overflow: hidden;
    white-space: nowrap;
}

.photobanner img {
    margin: 0 8px;
    max-width: 100px;
}

.photobanner img:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

#photobanner1 {
    left: 0;
    animation: bannermoveLeft 30s linear infinite;
}

#photobanner2 {
    right: 0;
    animation: bannermoveRight 30s linear infinite;
    margin-top: calc(100px + 2 * 8px);
    margin-bottom: calc(2 * 8px);
}

@keyframes bannermoveLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-1 * (var(--number-of-club-images) + 1) * (100px + 8px)));
    }
}

@keyframes bannermoveRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc((var(--number-of-club-images) + 1) * (100px + 8px)));
    }
}


#popup {
    background: none;
    position: fixed;
    width: 200px;
    height: 200px;
    top: calc(25% - 100px);
    left: calc(50% - 100px);
    border-radius: 20%;
    border: none;
    z-index: 5;
}

#popup-background {
    filter: blur(8px);
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 20%;
    border: none;
}

#popup-content {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.33);
    border-radius: 20%;
    border: none;
}

#popup-image {
    border-radius: 20%;
    border: none;
}

#popup h2 {
    font-size: 30px;
    padding: 0.25em;
    padding-bottom: 0;
    text-shadow: 0 0 8px rgba(15, 46, 59, 0.8);
}

#popup p {
    text-align: center;
    font-size: 16px;
    color: white;
    margin: 0;
    padding: 0 1em;
}


/* Responsive design */
@media screen and (max-width: 600px) {
    header p {
        font-size: 16px;
        margin: 0 1em;
    }

    .clubcardtitle h1 {
        text-align: center;
        position: relative;
        padding-top: 15px;
        font-size: 40px;
        color: rgb(57, 157, 203);
        padding-bottom: 0.5em;
    }
}


/* Animation */
@keyframes slidingin {
    8% {
        opacity: 0
    }

    16% {
        opacity: 1;
        left: 0px;
    }

    84% {
        opacity: 1;
        left: 0px;
    }

    92% {
        opacity: 0
    }

    100% {
        opacity: 0;
        left: -100px;
    }
}