* {
    box-sizing: border-box;
}

header p {
    padding: 24px;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 35px;
    text-indent: 4%;
    color: rgb(110, 81, 116)
}

.nav-links ul:nth-child(2)::after {
    width: 100%;
}

.clubtitle {
    position: relative;
    left: 35%;
    width: 50%;
    color: white;
    font-size: 55px;
    z-index: 2;
}

.slider {
    position: relative;
    left: -10%;
    opacity: 0;
    transition: 0.65s;
}

.aboutslider {
    position: relative;
    opacity: 0;
    left: -100px;
    color: rgba(0, 255, 255, 0.4);
    -webkit-animation-name: slidingin;
    -webkit-animation-duration: 8s;
    animation-name: slidingin;
    animation-duration: 8s;
    z-index: 1;
}

.hide {
    display: none;
}

.clubtitleseparator {
    height: 8px;
    position: relative;
    width: 70%;
    left: 15%;
    background: linear-gradient(90deg, hsla(350, 80%, 26%, 0.4) 0%, hsla(340, 61%, 19%, 0.4) 60%, hsla(330, 64%, 14%, 0.4) 100%);
    border-radius: 30%;
}

.eventBtn {
    background: transparent;
    color: white;
    padding: 10px 20px;
    border: 2px solid white;
    text-decoration: none;
    font-size: 50px;
    margin-top: 13%;
}

.eventBtn:hover {
    background: rgba(0, 255, 255, 0.4);
    cursor: pointer;
}

.eventError {
    font-size: 25px;
    margin-top: 14%;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 1em;
}

.timeline p {
    color: white;
    transition: 0.2s;
}

.timeline p:hover {
    color: #f44336;
}

.timeline h2 {
    color: white;
    font-size: 20px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-decoration-line: underline;
    text-decoration-color: #f44336;
}

.timeline h6 {
    color: white;
    font-size: 20px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.timeline i {
    color: #f44336;
}

.timeline .details {
    display: block;
}

.timeline::after {
    /* The actual timeline (the vertical ruler) */
    content: '';
    position: absolute;
    width: 6px;
    background-color: rgba(255, 255, 255, 0.15);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    perspective: 1000px;
}

.container::after {
    /* The circles on the timeline */
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #f44336;
    border: 4px solid #f44336;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.container:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    color: black;
}

.flip-card-back {
    /*#2980b9*/
    border-radius: 10px;
    background-color: rgba(0, 255, 255, 0.3);
    color: white;
    transform: rotateY(180deg);
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

.left::before,
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    border: medium solid rgba(255, 255, 255, 0.1);
}

/* Add arrows to the left container (pointing right) */
.left::before {
    right: 30px;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.1);
}

/* Add arrows to the right container (pointing left) */
.right::before {
    left: 30px;
    border-width: 10px 10px 10px 0;
    border-color: transparent rgba(242, 97, 97, 0.1) transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media only screen and (max-width: 600px) {

    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium transparent black;
        border-width: 10px 10px 10px 0;
        border-color: transparent black transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}

/* Animation */
@keyframes slidingin {
    15% {
        opacity: 0
    }

    30% {
        opacity: 1;
        left: 0px;
    }

    70% {
        opacity: 1;
        left: 0px;
    }

    85% {
        opacity: 0
    }

    100% {
        opacity: 0;
        left: -100px;
    }
}