html,
body {
    overflow-x: hidden;
}

h1,
h2 {
    margin: 0 auto;
    color: white;
    font-size: 55px;
    text-align: center;
}

h2 {
    font-size: 30px;
}

#container {
    display: grid;
    place-items: center;
    text-align: center;
    justify-items: center;
    justify-content: center;
    display: flex;
}

footer {
    max-width: 100vw;
    max-height: 10vh;
}

#images {
    display: grid;
    place-items: center;
}

.image-container {
    position: relative;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    z-index: 2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    cursor: default;
}

#prev,
#next {
    max-height: 10svh;
    max-width: 30svw;
    z-index: 1;
}

#prev {
    filter: brightness(90%);
}

#next {
    filter: brightness(90%);
}


#first,
#last {
    max-height: 10svh;
    max-width: 30svw;
    z-index: 1;
}

#first {
    filter: brightness(90%);
}

#last {
    filter: brightness(90%);
}

#first:before,
#last:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: bold;
}

#first:before {
    content: "First";
}

#last:before {
    content: "Last";
}


#images {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    /* Adjust the gap value as per your preference */
}

.top-row {
    display: flex;
    justify-content: center;
    gap: 1em;
    /* Adjust the gap value as per your preference */
}

.bottom-row {
    display: flex;
    justify-content: center;
}

.image-container {
    position: relative;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    padding: 0px 3px;
    pointer-events: none;
    z-index: 1;
}

#first .text-overlay {
    content: "First";
}

#prev .text-overlay {
    content: "Previous";
}

#next .text-overlay {
    content: "Next";
}

#last .text-overlay {
    content: "Last";
}

#main {
    max-width: 100%;
    height: auto;
}


#main {
    max-height: 50svh;
    max-width: 80svw;
    z-index: 10;
}

select {
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(3, 7, 23);
    color: white;
    font-size: 20px;
    padding: 0.2em;
    margin: 1em 50%;
    transform: translateX(-50%);
    z-index: 1;
    margin-bottom: 5em;
}

img {
    transition: transform 0.2s ease-in;
}

.image-container:hover img {
    transform: scale(1.2);
    z-index: 3;
}

#main:hover {
    transform: scale(1.5);
    z-index: 10;
    position: relative;
}


#prev:hover:before,
#next:hover:before {
    transform: scale(1.2);
    z-index: 3;
}

#prev:before,
#next:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: bold;
}

#prev:before {
    content: "Previous";
}

#next:before {
    content: "Next";
}

#images {
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
}

#main {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
}

header {
    min-height: calc(100vh - 50px);
    height: initial;
}