/* CSS file for the index page ONLY */
.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1 {
    font-size: 62px;
}
.text-box p {
    margin: 10px 0 40px;
    font-size: 25px;
    color: #fff;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 26px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 0.2s;
}
.hero-btn:hover {
    background-color: rgba(0, 255, 255, 0.4);
    border: 1px solid rgba(0, 255, 255, 0.4);
}

@media screen and (max-width: 800px) {
    .text-box h1 {
        font-size: 32px;
    }
    .text-box p {
        font-size: 24px;
    }
}