/* latin-ext */
@font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/bebasneue/v9/JTUSjIg69CK48gW7PXoo9Wdhyzbi.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/bebasneue/v9/JTUSjIg69CK48gW7PXoo9Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
        url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

footer {
    width: 100%;
    background-color: rgb(60, 60, 69);
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    float: bottom;
}


.header {
    min-height: calc(100vh - 70px);
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("../images/chessplaceholder.png");
    background-position: center;
    background-size: cover;
    position: relative;
    flex: 1 0 auto;
}

.selectednavlink {
    border-bottom: 2px solid #ff3336;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 120px;
}

nav #light {
    font-size: 25px;
    color: white;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.2s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 25px;
    color: #fff;
}

nav .fa {
    display: none;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 26px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 0.2s;
}

.hero-btn:hover {
    background-color: rgba(0, 255, 255, 0.4);
    border: 1px solid rgba(0, 255, 255, 0.4);
}

.text-panels {
    /* height: 90vh; */
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgb(29, 31, 33), rgb(0, 0, 0));
}

.text-panels h1 {
    text-align: center;
    color: white;
}

.headline>h1 {
    font-size: 50px;
}

.cardholder {
    height: 100%;
    width: 100%;
    /* padding-bottom: 5vh; */
}

.cardholder .card .image {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: #7d2ae8;
    align-items: center;
}

.cardholder .card .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10%;
    border: 3px solid #fff;
}

.cardlinker {
    width: 100%;
    height: 100%;
    border-radius: 15%;
    background: rgba(64, 222, 231, 0.915);
    z-index: 1;
    ;
}

.headline {
    /* padding: 10vh; */
    padding-top: 5vh;
}

.grouper-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 1em;
}

.card {
    /* padding: 5vh; */
    margin: 3vw;
    overflow-x: visible;
    transition: 250ms all ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 2px 40px #101213;
    border-radius: 10%;
}

.cardcaption {
    width: 100%;
    left: 3px;
    height: 20%;
    position: relative;
    bottom: 90px;
    background-color: rgba(4, 9, 30, 0.4);
    backdrop-filter: grayscale(80%);
    justify-content: center;
}

.cardcaption a {
    border: none;
    text-align: center;
    width: 230px;
    position: relative;
    font-size: 25px;
    display: block;
}

.footer-hori-bar {
    width: 100%;
    height: 50px;
    background-color: rgb(3, 7, 23);
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
}

.footer-hori-bar>p {
    color: rgb(76, 79, 94);
    margin-left: 2em;
    font-size: 24px;
    position: relative;
    bottom: 38px;
}

.footer-ext-link {
    width: 400px;
    position: relative;
    left: calc(100% - 400px);
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    /* margin-right: 2vh; */
    /* margin-left: 2vh; */
}

.footer-ext-link * {
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 32px;
    z-index: 100000;
}

.footer-ext-link * :hover {
    font-size: 45px;
}

.footer-ext-link #Github {
    border-left: 3px solid rgb(0, 0, 0);
    border-radius: 3%;
}

@media screen and (max-width: 600px) {
    .footer-hori-bar {
        text-align: center;
    }

    .footer-ext-link {
        width: 100%;
        left: 0;
    }

    .footer-ext-link>a {
        flex-grow: 1;
    }

    .footer-hori-bar>p {
        display: none;
    }
}

/* scrollbar width */
::-webkit-scrollbar {
    width: 10px;
}

/* track */
::-webkit-scrollbar-track {
    background: rgb(0, 80, 80);
    box-shadow: inset 0 0 5px rgba(0, 57, 57, 0.4);
}

/* handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(64, 222, 231)), color-stop(0.72, rgb(43, 193, 197)), color-stop(0.86, rgb(21, 163, 171)));
}

@keyframes slidingin {
    15% {
        opacity: 0
    }

    30% {
        opacity: 1;
        left: 0px;
    }

    70% {
        opacity: 1;
        left: 0px;
    }

    85% {
        opacity: 0
    }

    100% {
        opacity: 0;
        left: -100px;
    }
}

.coloritnice {
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(80, 230, 228)), to(rgb(39, 62, 125)));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media(max-width: 800px) {

    .text-box h1 {
        font-size: 32px;
    }

    .text-box p {
        font-size: 24px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background-color: rgba(4, 8, 27, 0.8);
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0px;
        display: none;
        text-align: left;
        z-index: 10;
    }

    nav .fa {
        display: block;
        color: white;
        margin: 15px;
        font-size: 20px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;
    }

    .headline h1 {
        font-size: 30px;
    }

    .grouper-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .text-panels {
        background: rgb(29, 31, 33);
        height: 100%;
        background: linear-gradient(0deg, rgb(29, 31, 33), rgb(0, 0, 0));
    }

    .footer-hori-bar {
        position: relative;
        /* top: 49em; */
    }

    .footer-ext-link div {
        position: relative;
        width: 25%;
        left: 20%;
    }
}